*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
}
.cards-collection{
    width: 100%;
    height: 50%;
    /* background: red; */
}
.cards-collection img{
    width:282px;
    height: 212px;
}