*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Montserrat;
}
html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
}
/* Add this in your CityPages.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
.Header{
    font-weight: 500;
}
.video-container{
    width: 90%;
    height: 80vh;
    /* background: red; */
    margin: 2% 5%;
    position: relative;
}
.video-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(45%);
    border-radius: 5px;
}

.video-container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.4rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.854);
    /* opacity: 0.8; */
}
#page2{
    /* height: 100vh; */
    /* padding: 0 2rem; */
    /* background-color: red; */
    position: relative;
    overflow-x: hidden;
    line-height: 1.5;
    /* background: #f4f4f4; */
    color: #111;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%
}
.hidden-text{
    width: 80%;
    /* background: red; */
    margin: 0% 10% 3% 10%;
}
.hidden-text p{
    text-align: center;
    font-size: 20px;
    color: #5d5959;
}
.popular{
    width: 98%;
    text-align: center;
    /* background: red; */
    font-size: 35px;
    font-weight: 500;
    line-height: 1.1;
    color: #2c4058;
    margin: 20px;
}
.poster{
    width:80%;
    height: 160px;
    /* background: red; */
    margin: 4% 10%;
}
.poster img{
    width: 100%;
  height: 100%;
  object-fit: cover;
}
.page3{
    position: relative;
}
.tour-PopUP{
    /* backdrop-filter: blur(5px); */
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: end;
    /* position: absolute; */
    right: 0%;
    top: 80%;
    cursor: pointer;
    position: fixed;
    z-index: 99;
}
.tour-PopUP h3{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    background: rgba(65, 105, 225, 0.813);
    padding: 1rem;
    border-radius: 20px 0 0px 20px;
}
.Hotels-PopUP{
    width: 18rem;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: end;
    /* position: absolute; */
    right: 0%;
    top: 70%;
    /* background: #17406c; */
    cursor: pointer;
    position: fixed;
    /* backdrop-filter: blur(5px); */
}
.Hotels-PopUP h3{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    background: royalblue;
    padding: 1rem;
    border-radius: 20px 0 0px 20px;
}