.destination-cards-container {
    max-width: 80rem;
    /* padding: 2rem 1rem; */
    margin: 0 auto;
    background: var(--bg);
}

.destination-cards__swiper-container {
    height: 30rem; /* Adjust the height of the container */
    width: 90%;
    padding: 1rem 0;
    position: relative;
}

.destination-cards__swiper-slide {
    width: 15rem; /* Set a smaller width for each card */
    height: 30rem; /* Set a smaller height for each card */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #f4f4f4; */
    border-radius: 1rem;
    text-align: center;
}

.destination-cards__swiper-slide img {
    width: 20rem; /* Reduce the image width */
    height: 25rem; /* Reduce the image height */
    border-radius: 1rem;
    margin-top: 1rem;
    object-fit: cover;
}

.textarea {
    padding: 1rem;
}

.textarea h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.textarea p {
    font-size: 0.9rem;
}

.destination-cards__swiper-slide-shadow-left,
.destination-cards__swiper-slide-shadow-right {
    display: none; /* Hide shadows for clarity */
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.arrow-left:disabled, .arrow-right:disabled {
    background-color: whitesmoke;
    cursor: not-allowed;
}
