* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#footer {
  margin-top: 8rem;
  position: relative;
  width: 100%;
  background: #17406c;
  padding: 50px 200px 0px 200px;
  color: white;
  /* padding: 50px 100px; */
}
#footer h4 {
  margin-bottom: 10px;
}
.state-collection {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  line-height: 1.6;
}
#footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  cursor: pointer;
}
#footer a:hover {
  color: rgb(23, 155, 222);
}
.border {
  width: 80%;
  /* border: 2px solid #fff; */
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  position: absolute; 
  bottom: 15%;
  left: 10%;
}
.bottom{
  margin-top: 30px;
     display: flex;
    justify-content: center;
    align-items:end;
    /* height: 100px; */
    background: #17406c;
    color: rgba(255, 255, 255, 0.641);
    text-align: center;
    font-size: 5rem;
    /* font-weight: bold; */
    /* line-height: 1.2; */
}
.wave {
  position: absolute;
  width: 100%;
  /* height: 2rem; */
  top: -6rem;
  left: 0;
  /* background: red; */
}

