*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.nav-bar{
    width: 100vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.849);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6%;
}
.nav1,.nav2,.nav3 {
    width: 33%;
    height: 100%;
    /* background-color: yellowgreen; */
}
.nav1{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2em;
    /* padding: 0  0 0 5rem ; */
}
.nav1 li{
    list-style: none;
    font-size: .9em;
}
#logo{
    width: 18rem;
}
.nav3{
    display: flex;
    justify-content: end;
    align-items: center;
    /* padding: 0 3rem; */
    gap: 10px;
}
.nav3 button{
    background-color:transparent;
    border: none;
}
.nav3 i{
    font-size: 1.5rem;
    color: #a0a0a0;
}
.nav3 i:hover{
    cursor: pointer;
    color: #cac8c8;
}
.ri-search-2-line{
    padding-right: 10px;
    border-right: 2px solid #a0a0a0;

}
.nav3 .log-button{
    background-color: #faf3d5;
    padding: 0.8rem 1rem;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-left: .5rem;
}
.nav3 .log-button:hover{
    background-color: #f8e7c9;
}